.social {
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 8px;
    right: 0;
    bottom: 0;
    padding-right: 54px;
    padding-bottom: 100px;
}

.banner {
    padding: 80px 100px;
    height: 662px;
    background: #EFF1F4;

    &__group {
        display: flex;
        gap: 64px;
        align-items: center;
        background: #EFF1F4;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title {
        width: 100%;
        color: #20304A;
        font-family: 'Golos';
        font-size: 60px;
        font-weight: 700;
    }

    &__text {
        width: 100%;
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 500;
    }

    &__option {
        gap: 10px;
        display: flex;
    }

    &__label {
        position: absolute;
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
        margin-top: 12px;
        padding-left: 32px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        border-color: transparent;
        width: 250px;
        height: 55px;
        padding: 10px 30px 0px 30px;
        border-radius: 100px;
        background: #FFF;
        color: #20304A;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 500;
    }

    &__Line {
        position: absolute;
        width: 100px;
        height: 8px;
        margin-left: 7px;
        margin-top: 47px;
    }

    &__Circle {
        position: absolute;
        width: 13px;
        height: 13px;
        margin-top: 47px;
        margin-left: 106px;
    }

    &__btn {
        display: flex;
        height: 55px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F16D22;
        border: 2px solid #F16D22;
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
        text-wrap: nowrap;
    }

    &__image {
        padding-bottom: 100px;
        margin-right: 64px;
    }

    &__btn:hover {
        color: #000;
        border: 2px solid #F16D22;
        background: #FFF;
    }

}

.contract {
    padding: 80px 100px 100px 100px;
    display: flex;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    border-radius: 60px 60px 0px 0px;
    background: #FFF;

    &__title {
        color: #20304A;
        width: 820px;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__text {
        width: 820px;
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 60px;
    }

    &__groupRectangle {
        display: flex;
        gap: 80px;
    }

    &__rectangle {
        width: 340px;
        height: 10px;
        border-radius: 20px 20px 0px 0px;
        background: rgba(203, 204, 206, 0.13);
    }

    &__Rectangle:hover > .contract__rectangle{
        background: rgba(33, 160, 170, 0.33);
    }
}

.contract__cards {
    display: flex;
    gap: 20px;

    &__card {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 24px;
        border-radius: 20px;
        background: #EFF1F4;
    }

    &__title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;
    }

    &__text {
        display: flex;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 400;
        width: 320px;
    }

    &__image {
        margin-top: auto;
    }

    &__card:hover span {
        color: #FFF;
    }

    &__card:hover .contract__rectangle {
        background: rgba(33, 160, 170, 0.33);
    }

}

.statistic {
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    background: #EFF1F4;

    &__title {
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
    }

    &__group {
        display: flex;
        gap: 10px;
        border: 1px solid #8A99B5;
        border-radius: 100px;
        padding: 0px;
    }

    &__item {
        padding: 15px 30px;
        border-radius: 100px;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }

    &__item:hover {
        background-color: #FFF;
    }

    &__rectangle {
        border-radius: 0px 20px 20px 0px;
        background:rgba(203, 204, 206, 0.33);;
        width: 15px;
        align-self: center;
        height: 300px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        height: 330px;
    }

}

.statistic__list {
    border-radius: 20px;
    background: #FFF;
    padding: 40px;

    &_item {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 520px;
    }

    &_item:not(:last-child) {
        margin-bottom: 20px;
    }

    &_image {
        width: 20px;
        height: 20px;
    }
}

.statistic__text {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 40px 60px;

    &_title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &-piece {
        color: #F16D22;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;
    }

    &_data {
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 40px;
    }

    &_option {
        display: flex;
        border-top: 1px solid #8A99B5;
        align-items: center;
        padding-top: 40px;
        gap: 30px;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;

        img {
            width: 40px;
            height: 40px;
        }
    }
}

.leadform {
    display: flex;
    background-color: #21A0AA;
    padding: 60px 150px;
    gap: 30px;
    justify-content: center;

    &__text {
        width: 695px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title {
        color: #FFF;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        p {
            margin-top: 19px;
        }

    }

    &-piece {
        color: #21A0AA;
        padding: 15px 20px 20px 20px;
        border-radius: 40px;
        background-color: #FFF;
        height: 64px;
    }

    &__info {
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }

    &__option {
        display: flex;
        gap: 10px;
    }

    &__label {
        position: absolute;
        display: block;
        margin-top: 6px;
        margin-left: 30px;
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__input {
        padding: 18px 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        border-radius: 100px;
        border: 1px solid #C1C1C1;
        padding: 10px 30px 0px 30px;
    }

    &__btn {
        width: 181px;
        display: flex;
        height: 55px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F16D22;
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        border-color: #F16D22;
        text-wrap: nowrap;
    }

    &__btn:hover {
        color: #000;
        border: 2px solid #F16D22;
        background: #FFF;
    }

    &__footer {
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__privacy {
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__image {
        width: 415px;
        height: 341.537px;
    }
}