.social {
    display: flex;
    position: fixed;
    z-index: 1003;
    flex-direction: column;
    gap: 8px;
    right: 0;
    bottom: 0;
    padding-right: 54px;
    padding-bottom: 100px;
}

.banner {
    padding: 80px 100px;
    height: 662px;
    background: #EFF1F4;

    @media (max-width:768px) {
        padding: 60px 20px;
    }

    &__group {
        display: flex;
        gap: 64px;
        align-items: center;
        background: #EFF1F4;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    &__title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 60px;
        font-weight: 700;
        animation: banner-animation 2s ease-in-out 1 forwards;
        opacity: 0;
        animation-delay: 1.5s;

        @media (max-width:515px) {
            font-size: 28px;
        }
    }

    &__text {
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 500;
        animation: banner-animation 2s ease-in-out 1 forwards;
        animation-delay: 1s;
        opacity: 0;

        @media (max-width:515px) {
            font-size: 16px;
        }
    }

    &__option {
        gap: 10px;
        display: flex;
        animation: banner-animation 2s ease-in-out 1 forwards;
        animation-delay: 0.5s;
        opacity: 0;

        @media (max-width:515px) {
            flex-direction: column;
        }
    }

    &__label {
        position: absolute;
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
        margin-top: 12px;
        padding-left: 32px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        border-color: transparent;
        width: 250px;
        height: 55px;
        padding: 10px 30px 0px 30px;
        border-radius: 100px;
        background: #FFF;
        color: #20304A;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 500;

        @media (max-width:515px) {
            width: 100%;
        }
    }

    &__Line {
        position: absolute;
        width: 100px;
        height: 8px;
        margin-left: 7px;
        margin-top: 47px;
    }

    &__Circle {
        position: absolute;
        width: 13px;
        height: 13px;
        margin-top: 47px;
        margin-left: 100px;
    }

    &__btn {
        display: flex;
        height: 55px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F16D22;
        border: 2px solid #F16D22;
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;

        @media (max-width:515px) {
            width: 100%;
        }
    }

    &__image {
        padding-bottom: 100px;
        margin-right: 64px;

        @media (max-width:768px) {
            display: none;
        }
    }

    &__btn:hover {
        color: #000;
        border: 2px solid #F16D22;
        background: #FFF;
        transition: all 0.5s ease-out;
    }

    @media (max-width:500px) {
        height: 100%;
    }

}

.anim {
    transform: translateY(-500px);
}

@keyframes banner-animation {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }

    50% {
        transform: translateY(-100px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.contract {
    padding: 80px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px 60px 0px 0px;
    background: #FFF;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:768px) {
        padding: 80px 10px 100px 10px;
    }

    &__title {
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__text {
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 60px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__rectangle {
        width: 340px;
        height: 10px;
        border-radius: 20px 20px 0px 0px;
        background: rgba(203, 204, 206, 0.13);
        transition: background-color 0.5s ease;
        cursor: pointer;

        @media (max-width:768px) {
            width: 294px;
        }

        @media (max-width:768px) {
            width: 275px;
        }

    }

    &__Rectangle:hover>.contract__rectangle {
        background: rgba(33, 160, 170, 0.33);
    }
}

.contract__cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__card {
        width: 400px;
        height: 481px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 24px;
        border-radius: 20px;
        background: #EFF1F4;
        transition: background-color 0.5s ease;
        cursor: pointer;

        @media (max-width:768px) {
            width: 354px;

        }

        @media (max-width:375px) {
            width: 335px;
        }
    }

    &__title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;
    }

    &__text {
        display: flex;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 400;
        width: 320px;
    }

    &__image {
        margin-top: auto;
    }

    &__card:hover span {
        color: #FFF;
    }

    &__card:hover .contract__rectangle {
        background: rgba(33, 160, 170, 0.33);
    }

    @media (max-width:1036px) {
        justify-content: center;
    }
}

.statistic {
    transform: translateY(-65px);
    padding: 80px 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    background: #EFF1F4;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    &__title {
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
    }

    &__group {
        display: flex;
        gap: 10px;
        border: 1px solid #8A99B5;
        border-radius: 100px;
        padding: 0px;
        flex-wrap: wrap;

        @media (max-width:1133px) {
            border: none;
            border-radius: 0px;
            justify-content: center;
        }
    }

    &__item {
        padding: 15px 30px;
        border-radius: 100px;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;

        &--selected {
            background-color: #FFF;
        }
    }

    &__item:hover {
        background-color: #FFF;
    }

    &__rectangle {
        border-radius: 0px 20px 20px 0px;
        background: rgba(203, 204, 206, 0.33);
        width: 15px;
        align-self: center;
        height: 300px;
        position: absolute;
        right: -15px;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (max-width:975px) {
            flex-direction: column;
        }
    }

    @media (max-width:975px) {
        padding: 80px 20px 0px;
    }
}

.statistic__list {
    border-radius: 20px;
    background: #FFF;
    padding: 40px;
    height: 330px;
    position: relative;
    display: flex;

    &_item {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 520px;

        @media (max-width:666px) {
            width: 100%;
        }
    }

    &_item:not(:last-child) {
        margin-bottom: 20px;
    }

    &_image {
        width: 20px;
        height: 20px;
    }

    @media (max-width:375px) {
        height: 100%;
    }
}

.statistic__text {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 40px 60px;

    &_title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &-piece {
        color: #F16D22;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;
    }

    &_data {
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 40px;
    }

    &_option {
        display: flex;
        border-top: 1px solid #8A99B5;
        align-items: center;
        padding-top: 40px;
        gap: 30px;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;

        img {
            width: 40px;
            height: 40px;
        }

        @media (max-width:626px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_link {
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }
}

.leadform {
    position: relative;
    background-color: #21A0AA;
    padding: 110px 150px 60px 150px;
    gap: 30px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:768px) {
        padding: 120px 20px 60px 20px;
    }

    &__rectangle {
        position: absolute;
        height: 50px;
        border-radius: 0px 0px 60px 60px;
        background: #EFF1F4;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        left: 0;
        top: 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title {
        color: #FFF;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        p {
            margin-top: 19px;
        }

        @media (max-width:572px) {
            font-size: 24px;
        }
    }

    &-piece {
        color: #21A0AA;
        display: inline-block;
        position: relative;
        padding: 7px 20px 15px;
        z-index: 1;
        font-size: 42px;
        line-height: 42px;
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #FFF;
            border-radius: 40px;
            z-index: -1;
        }

        @media (max-width:572px) {
            font-size: 24px;
            padding: 7px 20px 10px;
            line-height: normal;
        }
    }

    &__info {
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }

    &__option {
        display: flex;
        gap: 10px;

        @media (max-width:572px) {
            flex-direction: column;
        }
    }

    &__label {
        position: absolute;
        display: block;
        margin-top: 6px;
        margin-left: 30px;
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__input {
        padding: 18px 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        border-radius: 100px;
        border: 1px solid #C1C1C1;
        padding: 10px 30px 0px 30px;

        @media (max-width:572px) {
            height: 55px;
        }
    }

    &__btn {
        width: 181px;
        display: flex;
        height: 55px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F16D22;
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        border-color: #F16D22;

        @media (max-width:572px) {
            width: 100%;
        }
    }

    &__btn:hover {
        color: #000;
        border: 2px solid #F16D22;
        background: #FFF;
        transition: all 0.5s ease-out;
    }

    &__footer {
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__privacy {
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__image {
        width: 415px;
        height: 341.537px;

        @media (max-width:768px) {
            display: none;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }
}

.priem {
    padding: 80px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 60px 60px 0px 0px;
    background: #FFF;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:768px) {
        padding: 80px 10px 100px 10px;
    }

    &__rectangleTop {
        width: 100%;
        position: absolute;
        height: 50px;
        background-color: #21A0AA;
        top: 0;
        z-index: -100;
    }

    &__title {
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 40px;
    }


    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__rectangle {
        width: 340px;
        height: 10px;
        border-radius: 0px 0px 20px 20px;
        background: rgba(203, 204, 206, 0.13);
        transition: background-color 0.5s ease;
        cursor: pointer;

        @media (max-width:768px) {
            width: 294px;
        }

        @media (max-width:768px) {
            width: 275px;
        }

    }

    &__Rectangle:hover>.priem__rectangle {
        background: rgba(33, 160, 170, 0.33);
    }

    &__btn {
        display: flex;
        padding: 15px 20px;
        justify-content: center;
        margin-top: 40px;
        align-items: center;
        border-radius: 100px;
        border: 1px solid #8A99B5;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }

    &__btn:hover {
        background: #FFF;
        border: 1px solid #FFF;
    }
}

.priem__cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__card {
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        border-radius: 20px;
        border: 1px solid #CBCCCE;
        background: #FFF;
        transition: background-color 0.5s ease;
        cursor: pointer;

        @media (max-width:768px) {
            width: 354px;
        }

        @media (max-width:375px) {
            width: 335px;
        }
    }

    &__title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 600;
        padding: 0 20px;
    }

    &__text {
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 400;
        padding: 0 20px;
    }

    &__card:hover .priem__rectangle {
        background: rgba(33, 160, 170, 0.33);
    }

    &_piece {
        color: #21A0AA;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    &__cost {
        color: #20304A;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;
    }

    &__total {
        color: #21A0AA;
        text-align: center;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 400;
        border-radius: 30px;
        border: 1px solid #21A0AA;
        display: flex;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;
    }

    @media (max-width:1036px) {
        justify-content: center;
    }
}

.otziv {
    padding: 80px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    gap: 40px;

    @media (max-width:768px) {
        padding: 80px 10px 100px 10px;
    }

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        width: 40px;
        height: 40px;
    }

    &__arrows {
        display: flex;
        gap: 10px;
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__text {
        color: #20304A;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
    }

    &__rectangle {
        width: 340px;
        height: 10px;
        border-radius: 0px 0px 20px 20px;
        background: rgba(203, 204, 206, 0.13);
        transition: background-color 0.5s ease;
        cursor: pointer;
        position: absolute;
        bottom: -24px;
        left: 30px;

        @media (max-width:768px) {
            width: 294px;
        }

        @media (max-width:768px) {
            width: 275px;
        }
    }

    &__rectangle:hover {
        background: rgba(241, 109, 34, 0.33);
    }

    &__group {
        position: relative;
    }

    &__group:hover {

        &__rectangle {
            background: rgba(241, 109, 34, 0.33);
        }
    }

    &__btn {
        display: flex;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid #8A99B5;
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }

    &__btn:hover {
        background: #FFF;
        border: 1px solid #FFF;
    }
}

.otziv__cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__card {
        width: 400px;
        height: 484px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;

        @media (max-width:768px) {
            width: 354px;
        }

        @media (max-width:375px) {
            width: 335px;
        }
    }

    &__image {
        width: 80px;
        height: 80px;
        display: none;
        position: absolute;
        top: 188px;
        right: 157px;
    }

    &__card:hover {
        .otziv__cards__image {
            display: flex;
        }
    }

    &__card:nth-child(1) {
        background-image: url("../assets/images/Al.png");
        background-repeat: no-repeat;
    }

    &__card:nth-child(1):hover {
        background-image: url("../assets/images/AlActive.png");
        background-repeat: no-repeat;
        transition: all 5 ease-in-out;
    }

    &__card:nth-child(2) {
        background-image: url("../assets/images/Vl.png");
        background-repeat: no-repeat;
    }

    &__card:nth-child(2):hover {
        background-image: url("../assets/images/VlActive.png");
        background-repeat: no-repeat;
        transition: all 0.5 ease-in-out;
    }

    &__card:nth-child(3) {
        background-image: url("../assets/images/An.png");
        background-repeat: no-repeat;
    }

    &__card:nth-child(3):hover {
        background-image: url("../assets/images/AnActive.png");
        background-repeat: no-repeat;
        transition: all 0.5 ease-in-out;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 293px 16px 26px 20px;
    }

    &__name {
        color: #FFF;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    &__text {
        color: #FFF;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 500;
    }

    &__place {
        color: #FFF;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    &__room {
        color: #FFF;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 500;
    }

    &__cost {
        color: #FFF;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 600;
    }

    @media (max-width:1036px) {
        justify-content: center;
    }
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
    border-radius: 60px;
    position: relative;
    background: #EFF1F4;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:1290px) {
        padding: 80px 20px;
    }

    &__rectangleTop {
        width: 100%;
        position: absolute;
        height: 50px;
        background-color: #FFF;
        top: 0;
        z-index: -100;
    }

    &__title {
        margin-bottom: 40px;
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        @media (max-width:420px) {
            color: #20304A;
            text-align: center;
            font-family: 'Golos';
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__group {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    &__process {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        @media (max-width:1290px) {
            width: 100%;
        }
    }

    &__image {
        padding-top: 20px;
        padding-left: 60px;

        @media (max-width:1290px) {
            display: none;
            pointer-events: none;
        }
    }
}

.work__item {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;

    &_option {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &_icon {
        width: 40px;
        height: 40px;
    }

    &_btn {
        color: #21A0AA;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }
}

.form {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;

    @media (max-width:1290px) {
        padding: 60px 20px;
    }

    &__main {
        border-radius: 60px;
        background: #21A0AA;
        display: flex;
        padding: 60px 100px;
        align-items: center;

        @media (max-width:1290px) {
            padding: 40px 20px;
            flex-direction: column;
            gap: 20px;
            align-items: start;
        }
    }

    &__discount {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width:460px) {
            gap: 10px;
        }
    }

    &__text {
        color: #FFF;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        @media (max-width:460px) {
            color: #FFF;
            font-family: 'Golos';
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__cost {
        width: 286px;
        display: flex;
        justify-content: center;
        text-wrap: nowrap;
        height: 83px;
        border-radius: 40px;
        padding: 15px 20px 20px 20px;
        background: #FFF;
        color: #F16D22;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;
        border: none;

        @media (max-width:460px) {
            display: flex;
            align-items: center;
            height: 63px;
            width: 181px;
            color: #F16D22;
            font-family: 'Golos';
            font-size: 24px;
            font-weight: 700;
            padding: 5px 20px 10px 20px;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width:460px) {
            gap: 20px;
        }
    }

    &__info {
        color: #FFF;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 400;

        @media (max-width:460px) {
            color: #FFF;
            font-family: 'Golos';
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__option {
        display: flex;
        gap: 10px;

        @media (max-width:572px) {
            flex-direction: column;
        }
    }

    &__label {
        position: absolute;
        display: block;
        margin-top: 6px;
        margin-left: 30px;
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__input {
        padding: 18px 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        border-radius: 100px;
        border: 1px solid #C1C1C1;
        padding: 10px 30px 0px 30px;

        @media (max-width:572px) {
            height: 55px;
        }
    }

    &__btn {
        width: 181px;
        display: flex;
        height: 55px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F16D22;
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        border-color: #F16D22;

        @media (max-width:572px) {
            width: 100%;
        }
    }

    &__btn:hover {
        color: #000;
        border: 2px solid #F16D22;
        background: #FFF;
        transition: all 0.5s ease-out;
    }

    &__footer {
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }

    &__privacy {
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }
}

.information {
    padding: 80px 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:1290px) {
        padding: 60px 20px;
        flex-direction: column;
        gap: 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 80px 40px 80px 0;

        @media (max-width:1290px) {
            padding: 0 40px 0 0;
        }
    }

    &__title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        @media (max-width:390px) {
            color: #20304A;
            font-family: 'Golos';
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__text {
        color: #20304A;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 400;

        @media (max-width:390px) {
            color: #20304A;
            font-family: 'Golos';
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__btn {
        width: 181px;
        display: flex;
        height: 55px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F16D22;
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        border-color: transparent;
    }

    &__btn:hover {
        color: #000;
        border: 2px solid #F16D22;
        background: #FFF;
        transition: all 0.5s ease-out;
    }

    &__cards {
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width:1290px) {
            padding-left: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media (max-width:1177px) {
            justify-content: center;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__rectangle {
        width: 500px;
        height: 10px;
        border-radius: 20px 20px 0px 0px;
        background: rgba(203, 204, 206, 0.33);
        transition: background-color 0.5s ease;
        cursor: pointer;

        @media (max-width:590px) {
            width: 300px;
        }
    }
}

.information__card {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 20px;
    background: #FFF;
    width: 550px;
    height: 150px;
    position: relative;
    justify-content: center;

    @media (max-width:590px) {
        width: 354px;
    }

    @media (max-width:390px) {
        width: 335px;
    }

    &_title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;

        @media (max-width:390px) {
            color: #20304A;
            font-family: 'Golos';
            font-size: 20px;
            font-weight: 600;
        }
    }

    &_detail {
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 400;
    }

    &_group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_option {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &_word {
        color: #21A0AA;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
    }

    &_icon {
        width: 40px;
        height: 40px;
    }
}

.devices {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 100px;
    gap: 40px;
    border-radius: 60px;
    background: #FFF;

    @media (max-width:1367px) {
        padding: 80px 20px;
    }

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__arrow {
        width: 40px;
        height: 40px;
    }

    &__arrows {
        display: flex;
        gap: 10px;
    }

    &__text {
        color: #20304A;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        @media (max-width:610px) {
            color: #20304A;
            font-family: 'Golos';
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__katalog {
        display: flex;
        gap: 40px;
        border-radius: 30px;
        background: #EFF1F4;
        padding: 40px 40px 20px 40px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__item:hover {
        .devices__image {
            border: 1px solid #F16D22;
            border-radius: 10px;
        }

        .devices__label {
            color: #F16D22;
        }
    }

    &__image {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        border: 1px solid transparent;
    }

    &__label {
        color: #20304A;
        text-align: center;
        font-family: 'Euclid Circular A';
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__info {
        display: flex;
        gap: 20px;
    }

    &__picture {
        width: 400px;
        height: 400px;

        @media (max-width:1367px) {
            width: 176px;
            height: 243px;
        }

        @media (max-width:610px) {
            display: none;
        }
    }
}

.devices__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 40px 80px 100px;

    @media (max-width:1367px) {
        padding: 0;
    }

    @media (max-width:610px) {
        gap: 20px;
    }

    &_title {
        color: #20304A;
        font-family: 'Golos';
        font-size: 26px;
        font-weight: 600;

        @media (max-width:610px) {
            color: #20304A;
            font-family: 'Golos';
            font-size: 24px;
            font-weight: 600;
        }
    }

    &_text {
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 400;

        @media (max-width:610px) {
            color: #20304A;
            font-family: 'Golos';
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 100px;
    gap: 40px;

    @media (max-width:1100px) {
        padding: 60px 20px;
    }

    @media (max-width:530px) {
        padding: 40px 20px;
        gap: 20px;
    }

    &__title {
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        @media (max-width:530px) {
            color: #20304A;
            text-align: center;
            font-family: 'Golos';
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        padding: 0 105px;
        gap: 5px;

        @media (max-width:1100px) {
            padding: 0 0;
        }
    }

    &__item {
        width: 100%;
        display: flex;
        gap: 5px;
    }

    &__group {
        display: flex;
        width: 913px;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px 0px 0px 20px;
        padding: 30px 40px;
        background: #FFF;

        @media (max-width:1100px) {
            width: 100%;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        color: #20304A;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 500;

        @media (max-width:530px) {
            padding: 30px 20px;
            color: #20304A;
            font-family: 'Golos';
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__dop {
        display: none;
        pointer-events: none;
    }

    &__open {
        padding: 30px 40px;
        border-radius: 0px 20px 20px 0px;
        background: #FFF;

        @media (max-width:530px) {
            padding: 42px 20px;
        }
    }

    &__image {
        width: 32px;
        height: 32px;
    }

    &__btn {
        width: 160px;
        height: 55px;
        color: #FFF;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 500;
        display: flex;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F16D22;
        font-family: 'Golos';
        font-size: 16px;
        border: 2px solid #F16D22;
    }

    &__btn:hover {
        color: #000;
        border: 2px solid #F16D22;
        background: #FFF;
        transition: all 0.5s ease-out;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 100px;
    gap: 40px;

    @media (max-width:768px) {
        padding: 60px 20px;
    }

    &__title {
        color: #20304A;
        text-align: center;
        font-family: 'Golos';
        font-size: 42px;
        font-weight: 700;

        @media (max-width:400px) {
            color: #20304A;
            text-align: center;
            font-family: 'Golos';
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card {
        width: 400px;
        height: 265px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        border-radius: 20px;
        background: #FFF;

        @media (max-width:1457px) {
            width: 354px;
        }

        @media (max-width:400px) {
            width: 335px;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__heading {
        color: #20304A;
        font-family: 'Golos';
        font-size: 20px;
        font-weight: 600;
    }

    &__text {
        color: #20304A;
        font-family: 'Golos';
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_piece {
            color: #20304A;
            font-family: 'Euclid Circular A';
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__social {
        display: flex;
        gap: 10px;
    }

    &__tg {
        width: 42px;
        height: 42px;
    }

    &__whatsApp {
        width: 42px;
        height: 42px;
    }

    &__rectangle {
        width: 340px;
        height: 10px;
        border-radius: 0px 0px 20px 20px;
        background: rgba(203, 204, 206, 0.33);
        transition: background-color 0.5s ease;
        cursor: pointer;

        @media (max-width:1457px) {
            width: 300px;
        }

        @media (max-width:768px) {
            width: 275px;
        }
    }

    &__policy {
        color: #8A99B5;
        font-family: 'Golos';
        font-size: 12px;
        font-weight: 400;
    }
}