.header {
    padding: 20px 100px;

    &__menu {
        background-color: #bdbdbd;
        padding: 20px 24px;
        border-radius: 50px;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    &__nav {
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        &-element a {
            text-decoration: none;
            color: #20304A;
            font-family: 'Golos';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
        }
    }

    &-strelka {
        width: 5.437px;
        height: 9.573px;
    }

    &__logo {
        color: #F16D22;
        font-family: 'Golos';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;

        &-piece {
            color: #21A0AA;
            font-family: 'Golos';
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
        }
    }
}