.header {
    padding: 20px 100px;

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFF;
        border-radius: 50px;
        min-height: 80px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 24px;
    }

    &__logo {
        color: #F16D22;
        font-family: 'Golos';
        font-size: 24px;
        font-weight: 600;
        padding-right: 50px;
    }

    &-piece {
        color: #21A0AA;
        font-family: 'Golos';
        font-weight: 600;
        font-size: 24px;
    }

    &-svg {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        color: #20304A;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 500;
    }

    &__link:hover {
        color: #F16D22;
        font-family: 'Golos';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    &__about {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-right: 24px;
    }

    &__image {
        width: 40px;
        height: 40px;
    }

    &__phone {
        color: #20304A;
        font-family: 'Golos';
        font-size: 14px;
        font-weight: 500;

        &-piece {
            color: #8A99B5;
            font-family: 'Golos';
            font-size: 14px;
            font-weight: 500;
        }
    }
}