.header {
    padding: 20px 100px;
    width: 100%;
    height: 120px;

    &__menu {
        background-color: #FFF;
        padding: 20px 24px;
        border-radius: 50px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        width: 71%;
        gap: 20px;
        align-items: center;
        justify-content: left;

        &-svg {
            display: flex;
            align-items: center;

            &-element {
                margin-left: 5px;
            }
        }

        &-element {
            color: #20304A;
            font-family: 'Golos';
            font-size: 14px;
        }
    }

    &-strelka {
        width: 5.437px;
        height: 9.573px;
    }

    &__logo {
        color: #F16D22;
        font-family: 'Golos';
        font-size: 24px;
        padding-right: 40px;

        &-piece {
            color: #21A0AA;
            font-family: 'Golos';
            font-size: 24px;
        }
    }

    &__about {
        display: flex;
        align-items: center;
        gap: 20px;

        &-phone {
            color: #20304A;
            font-family: 'Golos';
            font-size: 14px;
            text-wrap: nowrap;

            &-piece {
                color: #8A99B5;
                font-family: 'Golos';
                font-size: 14px;
            }
        }
    }
}
.header__nav-element:hover {
    color: #F16D22
}