<footer class="footer">
    <div class="footer__columns">
        <div class="footer__left">
            <div class="footer__map">
                <img class="footer__image" src="assets/images/location.svg" alt="">
                Нур-Султан, ул. Московская, 20
            </div>
            <div class="footer__contacts">
                <div class="footer__email">
                    office@sapacontol.kz
                </div>
                <div class="footer__phone">
                    +9 900 228-11-09
                </div>
            </div>
            <div class="footer__time">
                Ежедневно с 9:00 до 21:00
            </div>
            <div class="footer__social">
                <img class="footer__tg" src="assets/images/tg.svg" alt="a">
                <img class="footer__whatsApp" src="assets/images/WhatsApp.svg" alt="a">
            </div>
        </div>
        <div class="footer__group">
            <div class="footer__middle">
                <div class="footer__client">
                    клиентам
                </div>
                <div class="footer__item">
                    Услуги и цены
                </div>
                <div class="footer__item">
                    Отчеты
                </div>
                <div class="footer__item">
                    Отзывы
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__company">
                    компания
                </div>
                <div class="footer__item">
                    О нас
                </div>
                <div class="footer__item">
                    Документация
                </div>
                <div class="footer__item">
                    Контакты
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copiright">
        <div class="footer__copiright_left">© 1998-2023 Sapa Contol</div>
        <div class="footer__copiright_middle">Политика конфиденциальности</div>
        <div class="footer__copiright_right">Пользовательское соглашение</div>
    </div>
</footer>