<header class="header container">
    <div class="header__navbar">
        <nav class="header__nav">
            <a href="#" class="header__logo reset-link">
                <span>SAPA</span><span class="header-piece">CONTROL</span>
            </a>
            <ul class="header__menu reset-list">
                <li class="header-svg header__item">
                    <a class="header__link reset-link" for="name" href="#">Услуги и цены</a>
                    <svg width="20" height="20" viewBox="0 0 20 20" name="name" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.40376 8.39136L9.54033 12.5279C9.79417 12.7818 10.2057 12.7818 10.4596 12.5279L14.5961 8.39136C14.85 8.13752 14.85 7.72596 14.5961 7.47212C14.3423 7.21828 13.9307 7.21828 13.6769 7.47212L9.99995 11.1491L6.323 7.47212C6.06916 7.21828 5.6576 7.21828 5.40376 7.47212C5.14992 7.72596 5.14992 8.13752 5.40376 8.39136Z"
                            fill="black" />
                    </svg>
                </li>
                <li class="header__item">
                    <a class="header__link reset-link" href="#">Отчеты</a>
                </li>
                <li class="header__item">
                    <a class="header__link reset-link" href="#">Калькулятор</a>
                </li>
                <li class="header-svg header__item">
                    <a class="header__link reset-link" href="#">Ещё</a>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.40376 8.39136L9.54033 12.5279C9.79417 12.7818 10.2057 12.7818 10.4596 12.5279L14.5961 8.39136C14.85 8.13752 14.85 7.72596 14.5961 7.47212C14.3423 7.21828 13.9307 7.21828 13.6769 7.47212L9.99995 11.1491L6.323 7.47212C6.06916 7.21828 5.6576 7.21828 5.40376 7.47212C5.14992 7.72596 5.14992 8.13752 5.40376 8.39136Z"
                            fill="black" />
                    </svg>
                </li>
            </ul>
        </nav>

        <div class="header__about">
            <div class="header__info">
                <span class="header__phone">+9 900 00 00 00<span class="header__phone-piece"> (9:00 — 21:00)</span></span>
            </div>
            <div class="header__image">
                <img src="assets/images/Flag.svg" alt="">
            </div>
        </div>
    </div>
</header>